hostname ansibleSwitch1
!
enable secret cisco123
!
username cisco privilege 15 password 0 cisco123
aaa new-model
!
aaa authentication login default local
aaa authentication enable default enable
!
ip domain name test.dev
!
crypto key gen rsa gen modulus 4096
!
ip ssh version 2
!
interface GigabitEthernet0/0
 no switchport
 ip address dhcp
 negotiation auto
 no shutdown